{
  admin off
  auto_https off
}
:3000 {
  handle /media/clips/* {
    root * /srv
    file_server
  }
  handle /media/thumbs/* {
    root * /srv
    file_server
  }
  handle {
    reverse_proxy 127.0.0.1:3002
  }
}
